

main, header {
    width:500px;
    text-align: center;
    margin: 10px auto;
}

#firstwrapper, #secondwrapper, .day, .today {
    border: 1px solid black;
}

#nav, #days {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#nav input {
    margin: 10px;
}

.day {
    padding: 5px;
    margin: 5px;
}

.today, td:hover {
    background-color: black;
    color: white; 
}

#secondwrapper{
    width: 300px;
    margin: 50px auto;
}

#head {
    width: inherit;
    display: flex;
    flex-flow: row nowrap;
    margin: 10px;
}
#nav-second {
    width: 100px;
    margin-left: auto;
}

#nav-second span {
    margin-left: 10px;
}

#nav-second span:hover {
    cursor: pointer;
}

table {
    width: inherit;
    margin: auto;
    border-spacing:0px;
}

th {
    background-color: rgb(210, 211, 211);
border-top: 1px solid #000;
border-bottom: 1px solid rgb(78, 30, 30);
}

td, th{
width: 7px;
height: 7px;
    padding: 5px;
}